
/**
 * @fileoverview Firestore Security Rules for FitCV
 */

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      function isSignedIn() {
        return request.auth != null;
      }
      function isOwner(userId) {
        return request.auth.uid == userId;
      }
      function isExistingOwner(userId) {
        return isOwner(userId) && resource != null;
      }

      allow get: if isOwner(userId);
      allow list: if false;
      allow create: if isSignedIn() && isOwner(userId);
      allow update: if isExistingOwner(userId);
      allow delete: if isExistingOwner(userId);

      // Applications sub-collection
      match /applications/{applicationId} {
        allow read, write: if isOwner(userId);
      }

      // Resumes sub-collection
      match /resumes/{resumeId} {
        allow read, write: if isOwner(userId);
      }
    }

    match /templates/{templateId} {
      allow get, list: if true;
      allow write: if false;
    }

     match /publicResumes/{shareId} {
        function isSignedIn() {
            return request.auth != null;
        }
        allow get, list: if true;
        allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
        allow update, delete: if isSignedIn() && resource.data.userId == request.auth.uid;

        match /feedback/{feedbackId} {
          allow get, list: if true;
          allow create: if request.resource.data.keys().hasAll(['name', 'comment'])
                        && request.resource.data.name is string
                        && request.resource.data.name.size() > 0
                        && request.resource.data.name.size() <= 100
                        && request.resource.data.comment is string
                        && request.resource.data.comment.size() > 0
                        && request.resource.data.comment.size() <= 2000;
          allow update, delete: if false;
        }
     }
  }
}
